In [1]:
%env API_KEY = cc94cceddad84259873b40731c6a5fea
%env USER = user1
%env PASSWD = #password99

env: API_KEY=cc94cceddad84259873b40731c6a5fea
env: USER=user1
env: PASSWD=#password99

## Importing the libraries

In [3]:
import pandas as pd

import time

import os

API_KEY =  os.environ['API_KEY']

USER = os.environ['USER']

PASSWD = os.environ['PASSWD']

ModuleNotFoundError: No module named 'pandas'

### newsapi is the client libraries of NewsAPI

In [3]:
# Importing the API client of newsapi 

from newsapi import NewsApiClient

In [4]:
# function to get the data from API client

def get_data():
    try:
        newsapi = NewsApiClient(api_key = API_KEY)
        
        source = newsapi.get_sources(language = 'en')
        
        # wait for 1 second after making the GET request
        
        time.sleep(1)
        
        df = pd.DataFrame(columns=['id', 'name', 'description', 'url', 'category', 'countary'])
        
        for src in source['sources']:
            
            id_ = src['id']
            
            name = src['name']
            
            description = src['description']
            
            url = src['url']
            
            category = src['category']
            
            country = src['country']
            
            df = df.append({
                'id' : id_,
                'name' : name,
                'description' : description,
                'url' : url,
                'category' : category,
                'countary' : country
            },
                ignore_index=True)
            
        return df
    
    except Error as e:
        
        print(e)

In [5]:
# storing the dataframe in df

df = get_data()

In [6]:
# checking the head of the dataframe

df.head()

,id,name,description,url,category,countary
0,abc-news,ABC News,"Your trusted source for breaking news, analysi...",https://abcnews.go.com,general,us
1,abc-news-au,ABC News (AU),"Australia's most trusted source of local, nati...",http://www.abc.net.au/news,general,au
2,al-jazeera-english,Al Jazeera English,"News, analysis from the Middle East and worldw...",http://www.aljazeera.com,general,us
3,ars-technica,Ars Technica,The PC enthusiast's resource. Power users and ...,http://arstechnica.com,technology,us
4,associated-press,Associated Press,The AP delivers in-depth coverage on the inter...,https://apnews.com/,general,us

In [7]:
# Checking the target values(category) of the data

df['category'].unique()

array(['general', 'technology', 'business', 'sports', 'entertainment',
       'health', 'science'], dtype=object)

In [8]:
# counting the total values of every category

df['category'].value_counts()

general          41
sports           11
technology       10
entertainment     8
business          7
science           3
health            1
Name: category, dtype: int64

In [9]:
# droping the non relevent columns from dataframe

df_clean = df.drop(['id', 'name', 'url', 'countary'], axis = 1)

In [10]:
# checking the total number of rows in df

df_clean.count()

description    81
category       81
dtype: int64

# Text Preprocessing

## Importing the nltk libraries for text preprocessing

In [11]:
from nltk.corpus import stopwords

import string

import re

In [12]:
# function to remove the stopwords, punctuation and creating the word tokens

def clean_txt(text):
    
#     text = re.sub('[0-9]', '', text)
    
    text = "".join([char.lower() for char in text if char not in string.punctuation])
    
    tokens = re.split('\W+', text)
    
    text = [word for word in tokens if word not in stopwords.words('english')]
    
    return text

In [13]:
# applying the clean_txt function on the description column

df_clean['description_clean'] = df_clean['description'].apply(lambda x : clean_txt(x))

In [14]:
# checking the head

df_clean.head()

,description,category,description_clean
0,"Your trusted source for breaking news, analysi...",general,"[trusted, source, breaking, news, analysis, ex..."
1,"Australia's most trusted source of local, nati...",general,"[australias, trusted, source, local, national,..."
2,"News, analysis from the Middle East and worldw...",general,"[news, analysis, middle, east, worldwide, mult..."
3,The PC enthusiast's resource. Power users and ...,technology,"[pc, enthusiasts, resource, power, users, tool..."
4,The AP delivers in-depth coverage on the inter...,general,"[ap, delivers, indepth, coverage, internationa..."

# Inserting the data into MySQL Database

In [15]:
# importing the connect and error methods from mysql.connector libraries to interect with the relational database

from mysql.connector import connect, errors

In [16]:
# function to create the database connection

def db_connection(host, usr, passwd):
    
    try:
        
        conn = connect(host = host, user = usr, passwd = passwd, buffered = True, database='news_data')
        
    except Error as e:
        
        print(e)
        
    else:
        
        print('Connection is Successful!')
        
    return conn

In [32]:
# function to create table in database

def create_table(db_name, table_name, columns):
    
    try:
        
        cursor = conn.cursor()
    
        create_table = f'CREATE TABLE IF NOT EXISTS {table_name}({columns}) ;'

        cursor.execute(create_table)
    
        print(f"'{table_name}' Table created successfully!")
    
        cursor.close()
    
    except Error as e:
        
        print(e)

In [18]:
# function to insert the new row into table

def insert_query(table_name, columns, column_values, db_name):
    
    try:
        cursor = conn.cursor()
    
        insert_query = f'INSERT INTO {table_name} ({columns}) VALUES({column_values});'
        
        print(f'Data inserted successfully in {table_name}!')

        cursor.execute(insert_query)
        
        cursor.close()
            
    except Error as e:
        
        print(e)

In [19]:
# function to insert the data into table

def insert_data():
    
    cursor = conn.cursor()

    for index, rows in df_clean.iterrows():

        values = f"'{rows.category}', ('{','.join(rows.description_clean)}')" 

        cursor.execute('SELECT description FROM news_data_clean')

        description_data = cursor.fetchall()

        temp = [row[-1] for row in description_data]

        if ','.join(rows.description_clean) not in temp:

            cursor.execute(insert_query(table_name = 'news_data_clean', columns = 'category, description', column_values =values, db_name = 'news_data'))

In [20]:
# function to show the content of table

def show_tables_data(table_name):
    
    cursor = conn.cursor()
    
    cursor.execute(f'SELECT * FROM {table_name};')
    
    print(f"Total numbers of rows in table {cursor.rowcount}")
    
    results = cursor.fetchall()

    for row in results:
            print("category = ", row[0], )
            print("description = ", row[1])
            print("\n")

In [21]:
conn = db_connection('localhost', USER, PASSWD)

Connection is Successful!

In [31]:
create_table(db_name = 'news_data', table_name = 'news_data_clean', columns = 'category VARCHAR(20), description VARCHAR(500)')

NameError: name 'Error' is not defined

In [25]:
insert_data()

Data inserted successfully in news_data_clean!
Data inserted successfully in news_data_clean!
Data inserted successfully in news_data_clean!
Data inserted successfully in news_data_clean!
Data inserted successfully in news_data_clean!
Data inserted successfully in news_data_clean!
Data inserted successfully in news_data_clean!

In [26]:
# to affect the changes in database

conn.commit()

In [27]:
show_tables_data('news_data_clean')

Total numbers of rows in table 87
category =  general
description =  trusted,source,breaking,news,analysis,exclusive,interviews,headlines,videos,abcnewscom


category =  general
description =  australias,trusted,source,local,national,world,news,comprehensive,independent,indepth,analysis,latest,business,sport,weather


category =  general
description =  news,analysis,middle,east,worldwide,multimedia,interactives,opinions,documentaries,podcasts,long,reads,broadcast,schedule


category =  technology
description =  pc,enthusiasts,resource,power,users,tools,love,without,computing,religion


category =  general
description =  ap,delivers,indepth,coverage,international,politics,lifestyle,business,entertainment,news


category =  business
description =  australian,financial,review,reports,latest,news,business,finance,investment,politics,updated,real,time,reputation,independent,awardwinning,journalism,essential,reading,business,investor,community


category =  general
description =  axios,new,media,company,delivering,vital,trustworthy,news,analysis,efficient,illuminating,shareable,ways,possible


category =  general
description =  use,bbc,news,uptotheminute,news,breaking,news,video,audio,feature,stories,bbc,news,provides,trusted,world,uk,news,well,local,regional,perspectives,also,entertainment,business,science,technology,health,news


category =  sports
description =  home,bbc,sport,online,includes,live,sports,coverage,breaking,news,results,video,audio,analysis,football,f,cricket,rugby,union,rugby,league,golf,tennis,main,world,sports,plus,major,events,olympic,games


category =  sports
description =  sports,journalists,bloggers,covering,nfl,mlb,nba,nhl,mma,college,football,basketball,nascar,fantasy,sports,news,photos,mock,drafts,game,scores,player,profiles


category =  business
description =  bloomberg,delivers,business,markets,news,data,analysis,video,world,featuring,stories,businessweek,bloomberg,news


category =  general
description =  syndicated,news,opinion,website,providing,continuously,updated,headlines,top,news,analysis,sources


category =  business
description =  business,insider,fastgrowing,business,site,deep,financial,media,tech,industry,verticals,launched,site,largest,business,news,site,web


category =  entertainment
description =  buzzfeed,crossplatform,global,network,news,entertainment,generates,seven,billion,views,month


category =  general
description =  cbc,news,division,canadian,broadcasting,corporation,responsible,news,gathering,production,news,programs,corporations,englishlanguage,operations,namely,cbc,television,cbc,radio,cbc,news,network,cbcca


category =  general
description =  cbs,news,dedicated,providing,best,journalism,standards,pioneered,dawn,radio,television,continue,digital,age


category =  general
description =  view,latest,news,breaking,news,today,us,world,weather,entertainment,politics,health,cnn


category =  technology
description =  providing,breaking,cryptocurrency,news,focusing,bitcoin,ethereum,icos,blockchain,technology,smart,contracts


category =  technology
description =  engadget,web,magazine,obsessive,daily,coverage,everything,new,gadgets,consumer,electronics


category =  entertainment
description =  online,version,print,magazine,includes,entertainment,news,interviews,reviews,music,film,tv,books,special,area,magazine,subscribers


category =  sports
description =  espn,uptotheminute,sports,news,coverage,scores,highlights,commentary,nfl,mlb,nba,college,football,ncaa,basketball


category =  sports
description =  espn,cricinfo,provides,comprehensive,cricket,coverage,available,including,live,ballbyball,commentary,news,unparalleled,statistics,quality,editorial,comment,analysis


category =  business
description =  find,latest,happenings,canadian,financial,sector,stay,date,changing,trends,business,markets,read,trading,investing,advice,professionals


category =  sports
description =  italian,football,news,analysis,fixtures,results,latest,serie,serie,b,azzurri


category =  business
description =  fortune,daily,breaking,business,news


category =  sports
description =  latest,football,news,indepth,features,tactical,statistical,analysis,fourfourtwo,uks,favourite,football,monthly


category =  general
description =  breaking,news,latest,news,current,news,foxnewscom,breaking,news,video,latest,current,news,us,world,entertainment,health,business,technology,politics,sports


category =  sports
description =  find,live,scores,player,team,news,videos,rumors,stats,standings,schedules,fantasy,games,fox,sports


category =  general
description =  comprehensive,uptodate,news,coverage,aggregated,sources,world,google,news


category =  general
description =  comprehensive,uptodate,australia,news,coverage,aggregated,sources,world,google,news


category =  general
description =  comprehensive,uptodate,canada,news,coverage,aggregated,sources,world,google,news


category =  general
description =  comprehensive,uptodate,india,news,coverage,aggregated,sources,world,google,news


category =  general
description =  comprehensive,uptodate,uk,news,coverage,aggregated,sources,world,google,news


category =  technology
description =  hacker,news,social,news,website,focusing,computer,science,entrepreneurship,run,paul,grahams,investment,fund,startup,incubator,combinator,general,content,submitted,defined,anything,gratifies,ones,intellectual,curiosity


category =  entertainment
description =  ign,site,xbox,one,ps,pc,wiiu,xbox,ps,wii,ds,ps,vita,iphone,games,expert,reviews,news,previews,trailers,cheat,codes,wiki,guides,walkthroughs


category =  general
description =  national,morning,quality,tabloid,includes,free,online,access,news,supplements,insight,robert,fisk,various,columnists


category =  entertainment
description =  mashable,global,multiplatform,media,entertainment,company


category =  health
description =  medical,news,health,news,headlines,posted,throughout,day,every,day


category =  general
description =  breaking,news,indepth,analysis,headlines,well,commentary,informed,perspectives,rachel,maddow,show,morning,joe


category =  entertainment
description =  ultimate,news,source,music,celebrity,entertainment,movies,current,events,web,pop,culture,steroids


category =  entertainment
description =  latest,celebrity,news,gossip,exclusive,interviews,pictures,world,music,entertainment


category =  science
description =  reporting,world,daily,original,nature,science,news,national,geographic


category =  general
description =  national,review,conservative,news,opinion,politics,policy,current,events


category =  general
description =  breaking,news,videos,latest,top,stories,world,news,business,politics,health,pop,culture


category =  general
description =  south,africas,premier,news,source,provides,breaking,news,national,world,africa,sport,entertainment,technology


category =  science
description =  breaking,science,technology,news,around,world,exclusive,stories,expert,analysis,space,technology,health,physics,life,earth


category =  general
description =  say,people,thinking,cover,issues,get,people,talking,balancing,australian,global,moments,politics,pop,culture


category =  general
description =  newsweek,provides,indepth,analysis,news,opinion,international,issues,technology,business,culture,politics


category =  general
description =  nymag,new,york,magazine,cover,new,undiscovered,next,politics,culture,food,fashion,behavior,nationally,new,york,lens


category =  science
description =  coverage,science,technology,potential,disruption,analysis,plans,policies,technology,enable,radical,improvement


category =  sports
description =  official,source,nfl,news,schedules,stats,scores


category =  sports
description =  uptodate,breaking,hockey,news,official,source,including,interviews,rumors,statistics,schedules


category =  general
description =  political,news,congress,white,house,campaigns,lobbyists,issues


category =  entertainment
description =  polygon,gaming,website,partnership,vox,media,culture,focused,site,covers,games,creators,fans,trending,stories,entertainment,news


category =  technology
description =  get,latest,independent,tech,news,reviews,analysis,recode,informed,respected,journalists,technology,media


category =  general
description =  reddit,entertainment,social,news,networking,service,news,website,reddits,registered,community,members,submit,content,text,posts,direct,links


category =  general
description =  reuterscom,brings,latest,news,around,world,covering,breaking,news,business,politics,entertainment,technology,video,pictures


category =  general
description =  get,latest,breaking,local,international,news,stories,happen,minute,updates,analysis,irelands,national,broadcaster


category =  sports
description =  tune,worlds,biggest,sports,radio,station,live,premier,league,football,coverage,breaking,sports,news,transfer,rumours,amp,exclusive,interviews


category =  technology
description =  techcrunch,leading,technology,media,property,dedicated,obsessively,profiling,startups,reviewing,new,internet,products,breaking,tech,news


category =  technology
description =  latest,technology,news,reviews,covering,computing,home,entertainment,systems,gadgets


category =  general
description =  realism,reform,new,voice,new,generation,conservatives


category =  general
description =  globe,mail,offers,authoritative,news,canada,featuring,national,international,news


category =  general
description =  hill,top,us,political,website,read,white,house,lawmakers,site,vital,policy,politics,election,campaigns


category =  general
description =  hindu,latest,news,analysis,comment,indepth,coverage,politics,business,sport,environment,cinema,arts,indias,national,newspaper


category =  general
description =  huffington,post,politically,liberal,american,online,news,aggregator,blog,localized,international,editions,founded,arianna,huffington,kenneth,lerer,andrew,breitbart,jonah,peretti,featuring,columnists


category =  general
description =  irish,times,online,latest,news,including,sport,analysis,business,weather,definitive,brand,quality,news,ireland


category =  general
description =  jerusalem,post,leading,online,newspaper,english,speaking,jewry,since,bringing,news,updates,middle,east,jewish,world


category =  entertainment
description =  lad,bible,one,largest,community,guys,aged,world,send,us,funniest,pictures,videos


category =  technology
description =  next,web,one,world,largest,online,publications,delivers,international,perspective,latest,news,internet,technology,business,culture


category =  sports
description =  thesportbible,one,largest,communities,sports,fans,across,world,send,us,sporting,pictures,videos


category =  general
description =  times,india,brings,latest,news,top,breaking,headlines,politics,current,affairs,india,around,world,sports,business,bollywood,news,entertainment,science,technology,health,fitness,news,cricket,opinions,leading,columnists


category =  technology
description =  verge,covers,intersection,technology,science,art,culture


category =  business
description =  wsj,online,coverage,breaking,news,current,headlines,us,around,world,top,stories,photos,videos,detailed,analysis,indepth,reporting


category =  general
description =  breaking,news,analysis,politics,business,world,national,news,entertainment,indepth,dc,virginia,maryland,news,coverage,including,traffic,weather,crime,education,restaurant,reviews


category =  general
description =  washington,times,delivers,breaking,news,commentary,issues,affect,future,nation


category =  general
description =  breaking,news,analysis,timecom,politics,world,news,photos,video,tech,reviews,health,science,entertainment,news


category =  general
description =  get,latest,national,international,political,news,usatodaycom


category =  general
description =  vice,news,vice,media,incs,current,affairs,channel,producing,daily,documentary,essays,video,website,youtube,channel,promotes,coverage,reported,stories


category =  technology
description =  wired,monthly,american,magazine,published,print,online,editions,focuses,emerging,technologies,affect,culture,economy,politics


category =  sports
description =  home,bbc,sport,online,includes,live,sports,coverage,breaking,news,results,video,audio,analysis,football,f1,cricket,rugby,union,rugby,league,golf,tennis,main,world,sports,plus,major,events,olympic,games


category =  business
description =  business,insider,fastgrowing,business,site,deep,financial,media,tech,industry,verticals,launched,2007,site,largest,business,news,site,web


category =  business
description =  fortune,500,daily,breaking,business,news


category =  sports
description =  latest,football,news,indepth,features,tactical,statistical,analysis,fourfourtwo,uk039s,favourite,football,monthly


category =  entertainment
description =  ign,site,xbox,one,ps4,pc,wiiu,xbox,360,ps3,wii,3ds,ps,vita,iphone,games,expert,reviews,news,previews,trailers,cheat,codes,wiki,guides,walkthroughs


category =  general
description =  jerusalem,post,leading,online,newspaper,english,speaking,jewry,since,1932,bringing,news,updates,middle,east,jewish,world


category =  entertainment
description =  lad,bible,one,largest,community,guys,aged,1630,world,send,us,funniest,pictures,videos